@media only screen and (min-width: 35rem) {
.row {
    padding: 0 var(--gutter-xx-small)
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

html {
    font-size: 55%;
}

.row {
    padding: 0 var(--gutter-medium)
}

.work-box:not(:last-child) {
    margin-bottom: var(--gutter-huge);
}

.work-box-img {
    max-width: initial;
}

}