* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 10px */
}

@media(max-width: 800px) {
    html {
        font-size: 55%;
    }
}

:root {     
    --purple: #CF9FFF;
    --black: #000000;
    --blue: #30D5C8;
    --plum: #673147;

    --nav-height: 8rem;

    --gutter-xx-small: 2rem;
    --gutter-x-small: 3rem;
    --gutter-small: 4rem;
    --gutter-medium: 6rem;
    --gutter-large: 8rem;
    --gutter-huge: 10rem;
    --gutter-mega: 20rem;
}

body {
    font-family: 'Merriweather', serif;
    font-family: 'Playfair Display', serif;
    color: var(--black);
    font-size: 2rem;
    line-height: 1.7;
    font-weight: 300;
    background-color: turquoise;
    overflow-x: hidden;
}

a {
    color: var(--black);
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 1.2rem 4rem;
    border: 1px solid var(--plum);
    font-size: 2.2rem;
}

.btn-text {
    display: inline-block;
    padding: 0.8rem 0.5rem;
    border-bottom: 1px solid var(--plum);
}

img {
    max-width: 100%;
    object-fit: contain;
}

section {
    padding: var(--gutter-huge) 0;

}

.row {
    max-width: 1180px;
    margin: 0 auto;
}

@media(max-width: 1350px) {
    .row {
        padding: 0 var(--gutter-large)
    }
}

@media(max-width: 850px) {
    .row {
        padding: 0 var(--gutter-medium)
    }
}

@media(max-width: 560px) {
    .row {
        padding: 0 var(--gutter-xx-small)
    }
}



h1, h2, h3 {
    font-weight: 400;
    line-height: 1.3;
}

h1 {
    font-size: 7.5rem;
}

h2 {
    font-size: 6rem;
}

h2::after {
    content: "";
    display: block;
    height: 0.3rem;
    width: 12rem;
    margin-top: 1rem;
    background-color: var(--plum);
}

h3 {
    font-size: 3.6rem;
}

@media(max-width: 545px) {
    h1 {
        font-size: 6rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 3rem;
    }
}

ul {
    list-style-position: inside;
}

/* ---------------------------- */
/* --------- Header */
/* ---------------------------- */

header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--purple);
    background-size: cover;
    background-position: center;
}

header .row {
    width: 100%;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 6rem;
    padding: 2rem;
    height: var(--nav-height);
}

nav a {
    font-size: 2.2rem;
}

.header-text-container {
    display: flex;
    align-items: center;
    height: calc(100% - var(--nav-height));
}

.header-text-container p {
    font-size: 2.4rem;
    margin: 1rem 0 3rem;
}

/* ---------------------------- */
/* --------- My Work */
/* ---------------------------- */

.work-box {
    display: flex;
    align-items: center;
    gap: var(--gutter-large);
    margin-top: var(--gutter-x-small);
}

@media(max-width: 1145px) {
    .work-box {
        gap: var(--gutter-small);
        flex-direction: column;
        align-items: initial;
    }
}

.work-box:first-of-type {
    margin-top: (var(--gutter-medium));
}

.work-box:not(:last-child) {
    margin-bottom: var(--gutter-mega);
}

@media(max-width: 750px) {
    .work-box:not(:last-child) {
        margin-bottom: var(--gutter-huge);
    }
}

.work-box-text > *:not(h3) {
    margin-top: var(--gutter-xx-small);
}

.work-box-img {
    max-width: 726px;
}

@media(max-width: 1350px) {
    .work-box-img {
        max-width: 600px;
    }
}

@media(max-width: 1145px) {
    .work-box-img {
        max-width: initial;
    }
}

.work-box-img img {
    max-width: 100%;
}

.work-box-links {
    display: flex;
    align-items: center;
    gap: var(--gutter-x-small);
}

.gh-link {
    transition: all 0.3s;
}

.gh-link:hover, .gh-link:focus {
    transform: scale(1.3);
}

.gh-link img {
    height: 2.8rem;
}

/* ---------------------------- */
/* --------- About Me */
/* ---------------------------- */

.about {
    display: flex;
    align-items: center;
    gap: var(--gutter-huge);
    margin-top: var(--gutter-medium);
}

@media(max-width: 1145px) {
    .about {
        flex-direction: column;
        gap: var(--gutter-small);
}

.about-text p {
    margin-bottom: var(--gutter-x-small);
}

.about img {
    flex: 0 0 650px;
}

@media(max-width: 1350px) {
    .about-img {
        flex: 0 0 500px;
    }
}

@media(max-width: 1145px) {
    .about-img {
        flex: initial;
    }
}

/* ---------------------------- */
/* --------- Contact */
/* ---------------------------- */

.contact {
    max-width: 670px;
}

.contact p {
    margin: var(--gutter-medium) 0 var(--gutter-x-small);
}

/* ---------------------------- */
/* --------- Footer */
/* ---------------------------- */

footer {
    margin: var(--gutter-large) 0 var(--gutter-xx-small);
}

.footer-social {
    margin-bottom: var(--gutter-small);
}

.footer-social a:not(:last-child) {
    margin-right: var(--gutter-xx-small);
}

.footer-social img {
    height: 40px;
}